<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style2.css" />
    <title>Document</title>
  </head>
  <body>
    
    <div class="wrapper">
      <h1>Hey <strong><%=name%></strong> welcome <br> Here are some things that we would like you to try</h1>
      <div class="cols">
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front" >
                <div class="inner">
                  <p>Self improvement</p>
                  <span></span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p><ul>
                    <li>Read a book</li>
                    <li>Take an online course</li>
                    <li>Journal</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-two" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front">
                <div class="inner">
                  <p>Exercise</p>
                  <span></span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <p><ul>
                    <li>jogging</li>
                    <li>pilates</li>
                    <li>yoga</li>
                    <li>resistant training</li>
                  </ul></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
              <div class="front">
                <div class="inner">
                  <p>Social</p>
                  <span></span>
                </div>
              </div>
              <div class="back">
                <div class="inner">
                  <ul>
                    <li>Virtual lunch party</li>
                    <li>Create a online group</li>
                    <li>Play virtual games</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contain">
          <h1>Here are some things that you could watch</h1>
          <div class="column">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front" >
                    <div class="inner">
                      <p>Movies</p>
                      <span></span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p><ul>
                        <li>Up</li>
                        <li>Little manhatan</li>
                        <li>Mama mia</li>
                      </ul></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                  <div class="front">
                    <div class="inner">
                      <p>Tv shows</p>
                      <span></span>
                    </div>
                  </div>
                  <div class="back">
                    <div class="inner">
                      <p><ul>
                        <li>Friends</li>
                        <li>The office</li>
                        <li>Big bang theory</li>
                      </ul></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
      
     
        
        
       <script src="../script.js"></script>
  </body>
</html>
